//- =============
//- = CONSTANTS =
//- =============
- DEV_MODE            = ${DEV_MODE}
- DATA                = DEV_MODE ? dev : prod
- PROJECT_NAME        = 'Resource Center'
- BLANK               = '&nbsp;'
- JQUERY              = '${JQUERY}'
- JQUERY_UI           = '${JQUERY_UI}'
- VIDEO_PLAYER_HEIGHT = ${VIDEO_PLAYER_HEIGHT}
- VIDEO_PLAYER_WIDTH  = ${VIDEO_PLAYER_WIDTH}

- _config = {css:{},js:{},images:{},text:{},urls:{}}

//- =======
//- = CSS =
//- =======
- _config.css.path = '${CSS_PATH}'

//- ======
//- = JS =
//- ======
- _config.js.path = '${JS_PATH}'

//- ==========
//- = IMAGES =
//- ==========
- _config.images.path = '${IMG_PATH}'

//- ========
//- = TEXT =
//- ========

//- ========
//- = URLS =
//- ========
