//- =============
//- = CONSTANTS =
//- =============
- DEV_MODE     = ${DEV_MODE}
- PROJECT_NAME = '${PROJECT_NAME}'
- BLANK        = '&nbsp;'
- BULLET       = '&bull;'
- JQUERY       = '${JQUERY}'
- JQUERY_UI    = '${JQUERY_UI}'

- _config = {css:{},js:{},images:{},text:{}}

//- =======
//- = CSS =
//- =======
- _config.css.path = '${CSS_PATH}'

//- ======
//- = JS =
//- ======
- _config.js.path = '${JS_PATH}'

//- ==========
//- = IMAGES =
//- ==========
- _config.images.path = '${IMG_PATH}'

//- ========
//- = TEXT =
//- ========
- _config.text.cta1                 = 'Apply Now'
- _config.text.cta2                 = 'Learn More'
- _config.text.cashBackTitle        = 'How to earn Cash Back:'
- _config.text.calculateLabel       = 'Calculate your rewards'
- _config.text.section2Title        = 'Your benefits as a Card Member:'
- _config.text.section3Help         = 'Use the sliders to estimate your monthly spending, and see how quickly your reward can add up.'
- _config.text.scrollToTopLabel     = 'Back to Top'
- _config.text.calculatorTotalLabel = 'Estimated Annual Reward:'